html {
  font-size: 10px;
}

body {
  /* font-family: 'Montserrat', Verdana, sans-serif; */
  font-family: 'Lato', Verdana, sans-serif;
  font-size: 1.6rem;
  color: $text-color-main;
  text-shadow: 0 0 5px $text-shadow-color;
  background-color: $background-color-for-blend;
  background-image: url(./assets/images/background/overlay.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
  @extend %transition;
}

.wrapper {
  @include alignment(space-between, space-between, column, nowrap);
  row-gap: 40px;
  /* height: calc(100vh - 40px); */
  /* height: 95.8vh; */
  height: 100vh;
  width: 100%;
}

header {
  padding: 20px 20px 0 20px;
}

main {
  padding: 0 20px;
}

footer {
  padding: 0 20px 20px;
}

.visibility {
  opacity: 0;
}
