@media (max-width: $tablet) {
  .footer {
    .footer__todo {
      width: 200px;
      font-size: 1.4rem;
    }

    .footer__quote {
      width: 200px;
      font-size: 1.4rem;

      .quote__button {
        width: 24px;
        height: 24px;
      }
    }

    .footer__settings {
      min-width: 200px;

      .settings__image {
        margin-bottom: 10px;
      }

      .settings__request {
        margin-bottom: 10px;
      }

      .settings__app {
        margin-bottom: 10px;
      }

      .settings__language {
        margin-bottom: 20px;
      }
    }
  }
}
