@media (max-width: $mobile) {
  .main {
    @include alignment(center, center, row, nowrap);

    .main__section {
      .section__time {
        width: 200px;
        font-size: 5rem;
        line-height: 5rem;
      }

      .section__date {
        margin-bottom: 10px;
        font-size: 1.3rem;
        line-height: 1.6rem;
      }

      .section__greeting {
        margin-bottom: 10px;
        font-size: 2rem;
        line-height: 2rem;

        .greeting__name {
          width: 200px;
        }
      }

      .section__focus {
        font-size: 1.6rem;
        line-height: 2.1rem;
      }
    }
  }
}
