button,
input {
  border: none;
  outline: none;
  color: #ffffff;
  background-color: transparent;
}

button::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  color: #c5b358;
  opacity: 0.8;
}

button:-ms-input-placeholder,
input:-ms-input-placeholder {
  color: #c5b358;
  opacity: 0.8;
}

button::-ms-input-placeholder,
input::-ms-input-placeholder {
  color: #c5b358;
  opacity: 0.8;
}

button::placeholder,
input::placeholder {
  color: #c5b358;
  opacity: 0.8;
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

button,
label {
  cursor: pointer;
}

span,
time,
.play-list__item {
  cursor: default;
}

input[type='range'] {
  cursor: pointer;
  margin: 0;
  padding: 0;
}

input[type='range']::-webkit-slider-thumb {
  opacity: 0;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 3px;
}

#wt-sky-root {
  display: none;
}

body, .header .header__audio, .header .header__audio .audio__direction .direction__button, .header .header__audio .audio__volume .volume__button, .header .header__audio .audio__play-list .play-list__item,
.header .header__audio .audio__play-list .play-list__item--active, .header .header__weather, .main, .main .main__arrow, .footer .footer__todo, .footer .footer__todo .todo__list, .footer .footer__quote, .footer .footer__quote .quote__button, .footer .footer__settings, .footer .footer__settings .settings__image .image__source, .footer .footer__settings .settings__request .request__button, .footer .footer__settings .settings__app .app__button, .footer .footer__settings .settings__language .language__button {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

html {
  font-size: 10px;
}

body {
  /* font-family: 'Montserrat', Verdana, sans-serif; */
  font-family: 'Lato', Verdana, sans-serif;
  font-size: 1.6rem;
  color: #ffffff;
  text-shadow: 0 0 5px #000000;
  background-color: #00000080;
  background-image: url(./assets/images/background/overlay.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-blend-mode: multiply;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  row-gap: 40px;
  /* height: calc(100vh - 40px); */
  /* height: 95.8vh; */
  height: 100vh;
  width: 100%;
}

header {
  padding: 20px 20px 0 20px;
}

main {
  padding: 0 20px;
}

footer {
  padding: 0 20px 20px;
}

.visibility {
  opacity: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  width: 100%;
}

.header .header__audio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 180px;
}

.header .header__audio .audio__direction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  width: inherit;
  margin-bottom: 10px;
}

.header .header__audio .audio__direction .direction__button {
  width: 32px;
  height: 32px;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  margin-bottom: 10px;
  background-color: #ffffff;
  opacity: 0.8;
}

.header .header__audio .audio__direction .direction__button:hover {
  opacity: 1;
}

.header .header__audio .audio__direction .direction__button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.header .header__audio .audio__direction .direction__button--prev {
  -webkit-mask-image: url("./assets/images/navigation/play-prev.svg");
          mask-image: url("./assets/images/navigation/play-prev.svg");
}

.header .header__audio .audio__direction .direction__button--play {
  width: 42px;
  height: 42px;
  -webkit-mask-image: url("./assets/images/navigation/play.svg");
          mask-image: url("./assets/images/navigation/play.svg");
}

.header .header__audio .audio__direction .direction__button--next {
  -webkit-mask-image: url("./assets/images/navigation/play-next.svg");
          mask-image: url("./assets/images/navigation/play-next.svg");
}

.header .header__audio .audio__volume {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

.header .header__audio .audio__volume .volume__button {
  width: 22px;
  height: 22px;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #ffffff;
  opacity: 0.8;
}

.header .header__audio .audio__volume .volume__button:hover {
  opacity: 1;
}

.header .header__audio .audio__volume .volume__button--min {
  -webkit-mask-image: url("./assets/images/navigation/volume-mute.svg");
          mask-image: url("./assets/images/navigation/volume-mute.svg");
}

.header .header__audio .audio__volume .volume__button--max {
  -webkit-mask-image: url("./assets/images/navigation/volume-hight.svg");
          mask-image: url("./assets/images/navigation/volume-hight.svg");
}

.header .header__audio .audio__volume .volume__range {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .header__audio .audio__current {
  width: 100%;
  margin: 10px 0;
}

.header .header__audio .audio__current .current__track {
  vertical-align: middle;
}

.header .header__audio .audio__duration {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
  height: 15px;
  margin-bottom: 20px;
}

.header .header__audio .audio__duration .duration__time {
  width: 30px;
  font-size: 1rem;
}

.header .header__audio .audio__duration .duration__time--min {
  text-align: left;
}

.header .header__audio .audio__duration .duration__time--max {
  text-align: right;
}

.header .header__audio .audio__duration .duration__range {
  width: 100px;
}

.header .header__audio .audio__duration .duration__range {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header .header__audio .audio__play-list .play-list__item,
.header .header__audio .audio__play-list .play-list__item--active {
  position: relative;
  margin: 5px 5px 5px 0;
  padding-left: 20px;
  opacity: 0.8;
  cursor: pointer;
}

.header .header__audio .audio__play-list .play-list__item:hover,
.header .header__audio .audio__play-list .play-list__item--active:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.header .header__audio .audio__play-list .play-list__item::before,
.header .header__audio .audio__play-list .play-list__item--active::before {
  position: absolute;
  content: '\2713';
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header .header__audio .audio__play-list .play-list__item--active {
  font-weight: 900;
  color: #c5b358;
}

.header .header__weather {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 180px;
  text-align: right;
}

.header .header__weather .weather__city .city__location {
  width: 120px;
  text-overflow: ellipsis;
  text-align: right;
  overflow: hidden;
}

.header .header__weather .weather__icon {
  width: 50px;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1024px) {
  .header .header__audio {
    width: 160px;
  }
  .header .header__audio .audio__direction {
    -webkit-column-gap: 14px;
            column-gap: 14px;
    margin-bottom: 5px;
  }
  .header .header__audio .audio__direction .direction__button {
    width: 28px;
    height: 28px;
  }
  .header .header__audio .audio__direction .button--play {
    width: 38px;
    height: 38px;
  }
  .header .header__audio .audio__volume .volume__button {
    width: 18px;
    height: 18px;
  }
  .header .header__audio .audio__volume .volume__range {
    width: 90px;
  }
  .header .header__audio .audio__current {
    margin: 5px 0;
  }
  .header .header__audio .audio__current .current__track {
    font-size: 1.4rem;
  }
  .header .header__audio .audio__duration {
    margin-bottom: 10px;
  }
  .header .header__audio .audio__duration .duration__time {
    width: 25px;
    font-size: 0.8rem;
  }
  .header .header__audio .audio__duration .duration__range {
    width: 90px;
  }
  .header .header__audio .audio__play-list .play-list__item {
    font-size: 1.4rem;
  }
  .header .header__weather {
    width: 160px;
    font-size: 1.4rem;
  }
  .header .header__weather::before {
    position: absolute;
    width: 46px;
    height: 46px;
  }
}

@media (max-width: 768px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-column-gap: 20px;
            column-gap: 20px;
    row-gap: 5px;
  }
  .header .header__audio {
    width: 160px;
  }
}

@media (max-width: 420px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header .header__audio .audio__volume,
  .header .header__audio .audio__current,
  .header .header__audio .audio__duration,
  .header .header__audio .audio__play-list {
    display: none;
  }
  .header .header__audio .audio__direction {
    margin-bottom: 0;
  }
  .header .header__weather {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    text-align: center;
  }
  .header .header__weather .weather__city .city__location {
    text-align: center;
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  width: 100%;
}

.main .main__arrow {
  width: 32px;
  height: 32px;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  background-color: #ffffff;
  opacity: 0.8;
}

.main .main__arrow:hover {
  opacity: 1;
}

.main .main__arrow:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .main__arrow--left {
  -webkit-mask-image: url("./assets/images/navigation/left.svg");
          mask-image: url("./assets/images/navigation/left.svg");
}

.main .main__arrow--right {
  -webkit-mask-image: url("./assets/images/navigation/right.svg");
          mask-image: url("./assets/images/navigation/right.svg");
}

.main .main__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.main .main__section .section__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 400px;
  font-size: 10rem;
  line-height: 10rem;
  text-align: justify;
}

.main .main__section .section__time .time__current {
  width: 100%;
}

.main .main__section .section__date {
  margin-bottom: 20px;
  font-size: 2.5rem;
  line-height: 2.5rem;
}

.main .main__section .section__greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  margin-bottom: 20px;
  font-size: 4rem;
  line-height: 4rem;
}

.main .main__section .section__greeting .greeting__title {
  text-align: center;
}

.main .main__section .section__greeting .greeting__name {
  width: 380px;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
}

.main .main__section .section__focus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  font-size: 2rem;
  line-height: 3rem;
}

.main .main__section .section__focus .focus__title {
  text-align: center;
}

.main .main__section .section__focus .focus__text {
  width: 190px;
  text-overflow: ellipsis;
  text-align: center;
  overflow: hidden;
}

@media (max-width: 1024px) {
  .main .main__arrow {
    width: 28px;
    height: 28px;
  }
  .main .main__section .section__time {
    width: 320px;
    font-size: 8rem;
    line-height: 8rem;
  }
  .main .main__section .section__date {
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 2rem;
  }
  .main .main__section .section__greeting {
    margin-bottom: 10px;
    font-size: 3.5rem;
    line-height: 3.5rem;
  }
  .main .main__section .section__focus {
    font-size: 1.8rem;
    line-height: 2.5rem;
  }
}

@media (max-width: 768px) {
  .main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .main .main__section .section__time {
    width: 200px;
    font-size: 5rem;
    line-height: 5rem;
  }
  .main .main__section .section__date {
    margin-bottom: 10px;
    font-size: 1.3rem;
    line-height: 1.6rem;
  }
  .main .main__section .section__greeting {
    margin-bottom: 10px;
    font-size: 2rem;
    line-height: 2rem;
  }
  .main .main__section .section__greeting .greeting__name {
    width: 200px;
  }
  .main .main__section .section__focus {
    font-size: 1.6rem;
    line-height: 2.1rem;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  width: 100%;
}

.footer .footer__todo {
  width: 200px;
}

.footer .footer__todo .todo__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: inherit;
  opacity: 0.8;
  cursor: pointer;
}

.footer .footer__todo .todo__list .todo__task {
  white-space: nowrap;
  padding: 0 5px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 145px;
  cursor: pointer;
}

.footer .footer__todo .todo__list .todo__task--done,
.footer .footer__todo .todo__list .todo__button--checked,
.footer .footer__todo .todo__list .todo__remove--done {
  font-weight: 900;
  color: #c5b358;
}

.footer .footer__todo .todo__list .todo__task--done {
  text-decoration: line-through;
}

.footer .footer__todo .todo__list:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.footer .footer__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 500px;
}

.footer .footer__quote .quote__text,
.footer .footer__quote .quote__author {
  text-align: center;
}

.footer .footer__quote .quote__author {
  margin: 15px 0;
}

.footer .footer__quote .quote__button {
  width: 28px;
  height: 28px;
  -webkit-mask-image: url("./assets/images/navigation/quote-refresh.svg");
          mask-image: url("./assets/images/navigation/quote-refresh.svg");
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #ffffff;
  opacity: 0.8;
}

.footer .footer__quote .quote__button:hover {
  opacity: 1;
}

.footer .footer__quote .quote__button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .footer__quote .quote__button--request {
  -webkit-animation: rotation 0.5s infinite linear;
          animation: rotation 0.5s infinite linear;
}

.footer .footer__settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  min-width: 200px;
}

.footer .footer__settings .settings__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 20px;
}

.footer .footer__settings .settings__image #github:checked ~ .image__source--github {
  opacity: 1;
  background-color: #c5b358;
}

.footer .footer__settings .settings__image #unsplash:checked ~ .image__source--unsplash {
  opacity: 1;
  background-color: #c5b358;
}

.footer .footer__settings .settings__image #flickr:checked ~ .image__source--flickr {
  opacity: 1;
  background-color: #c5b358;
}

.footer .footer__settings .settings__image .image__source {
  width: 24px;
  height: 24px;
  border-radius: 2px;
  text-align: center;
  opacity: 0.8;
  background-position: center;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-color: #ffffff80;
}

.footer .footer__settings .settings__image .image__source:hover {
  opacity: 0.8;
  background-color: #c5b358;
}

.footer .footer__settings .settings__image .image__source--github {
  background-image: url("./assets/images/api/github.svg");
}

.footer .footer__settings .settings__image .image__source--unsplash {
  background-image: url("./assets/images/api/unsplash.svg");
}

.footer .footer__settings .settings__image .image__source--flickr {
  background-image: url("./assets/images/api/flickr.svg");
}

.footer .footer__settings .settings__request {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  width: 130px;
  margin-bottom: 20px;
  font-size: 1.2rem;
}

.footer .footer__settings .settings__request .request__field {
  width: 100%;
  padding: 5px;
  text-overflow: ellipsis;
  text-align: center;
  border-radius: 2px;
  background-color: #00000080;
  overflow: hidden;
}

.footer .footer__settings .settings__request .request__button {
  width: 24px;
  height: 24px;
  -webkit-mask-image: url("./assets/images/navigation/image.svg");
          mask-image: url("./assets/images/navigation/image.svg");
  -webkit-mask-size: cover;
          mask-size: cover;
  -webkit-mask-position: center;
          mask-position: center;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #ffffff;
  opacity: 0.8;
}

.footer .footer__settings .settings__request .request__button:hover {
  opacity: 1;
}

.footer .footer__settings .settings__request .request__button:active {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.footer .footer__settings .settings__app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  margin-bottom: 20px;
}

.footer .footer__settings .settings__app input[type='checkbox']:checked ~ .app__button {
  opacity: 1;
  background-color: #c5b358;
}

.footer .footer__settings .settings__app .app__button {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  text-align: center;
  opacity: 0.8;
  background-position: center;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-color: #ffffff80;
}

.footer .footer__settings .settings__app .app__button:hover {
  opacity: 0.8;
  background-color: #c5b358;
}

.footer .footer__settings .settings__app .app__button--audio {
  background-image: url("./assets/images/navigation/audio.svg");
}

.footer .footer__settings .settings__app .app__button--weather {
  background-image: url("./assets/images/navigation/weather.svg");
}

.footer .footer__settings .settings__app .app__button--time {
  background-image: url("./assets/images/navigation/time.svg");
}

.footer .footer__settings .settings__app .app__button--todo {
  background-image: url("./assets/images/navigation/todo.svg");
}

.footer .footer__settings .settings__app .app__button--quote {
  background-image: url("./assets/images/navigation/quote.svg");
}

.footer .footer__settings .settings__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  font-size: 1.2rem;
  line-height: 2.4rem;
}

.footer .footer__settings .settings__language #en:checked ~ .language__button--en {
  opacity: 1;
  background-color: #c5b358;
}

.footer .footer__settings .settings__language #ru:checked ~ .language__button--ru {
  opacity: 1;
  background-color: #c5b358;
}

.footer .footer__settings .settings__language .language__button {
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  text-align: center;
  opacity: 0.8;
  background-position: center;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-color: #ffffff80;
}

.footer .footer__settings .settings__language .language__button:hover {
  opacity: 0.8;
  background-color: #c5b358;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}

@media (max-width: 1024px) {
  .footer .footer__todo {
    width: 200px;
    font-size: 1.4rem;
  }
  .footer .footer__quote {
    width: 200px;
    font-size: 1.4rem;
  }
  .footer .footer__quote .quote__button {
    width: 24px;
    height: 24px;
  }
  .footer .footer__settings {
    min-width: 200px;
  }
  .footer .footer__settings .settings__image {
    margin-bottom: 10px;
  }
  .footer .footer__settings .settings__request {
    margin-bottom: 10px;
  }
  .footer .footer__settings .settings__app {
    margin-bottom: 10px;
  }
  .footer .footer__settings .settings__language {
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    row-gap: 20px;
  }
  .footer .footer__todo {
    width: 250px;
  }
  .footer .footer__todo .todo__list .todo__task {
    width: 180px;
  }
  .footer .footer__quote {
    width: 250px;
  }
  .footer .footer__quote .quote__author {
    margin: 5px 0;
  }
  .footer .footer__settings {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}
/*# sourceMappingURL=style.css.map */