$text-color-main: #ffffff;
$background-color-for-blend: #00000080;
$background-color-icon: #ffffff;
$background-color-settings: #ffffff80;
$background-color-request: #00000080;
$text-shadow-color: #000000;
$current-checked-track-color: #c5b358;
$todo-checked-color: #c5b358;
$settings-checked-color: #c5b358;
$placeholder-color: #c5b358;
