button,
input {
  border: none;
  outline: none;
  color: $text-color-main;
  background-color: transparent;

  &::placeholder {
    color: $placeholder-color;
    opacity: 0.8;
  }
}

input[type='radio'],
input[type='checkbox'] {
  display: none;
  appearance: none;
}

button,
label {
  cursor: pointer;
}

span,
time,
.play-list__item {
  cursor: default;
}

input[type='range'] {
  cursor: pointer;
  margin: 0;
  padding: 0;

  &::-webkit-slider-thumb {
    opacity: 0;
  }

  &::-webkit-slider-runnable-track {
    height: 3px;
  }
}

#wt-sky-root {
  display: none;
}
